
.DS_Store
__pycache__
Fortran/bin
classdef.mod
bin
bin.exe
bin.jar
Rust/Cargo.lock
Rust/debug
Rust/.rustc_info.json
Haskell
Haskell-compiling
Build
Manage
.vscode/settings.json

Perl/Module.pl
Modules