
.DS_Store
__pycache__
Fortran/bin
classdef.mod
C/bin
C++/bin
Objective-C/bin
C#/bin.exe
Go/bin
Rust/bin
Rust/Cargo.lock
Rust/debug
Rust/.rustc_info.json
Kotlin-compiling/META-INF/main.kotlin_module
Scala-compiling
Groovy-compiling
Swift-compiling/bin
Haskell
Build
Manage

Perl/Module.pl
Modules